*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font)
}
html,body {
    height: 100%;
}
:root {
  --primary-color: #0a9c6f;
  --grey-900: #0d1919;
  --grey-800: #121b22;
  --grey-600: #1f2c34;
  --grey-700: #9f9fa1;
  --grey-500: #dfdfe1;
  --grey-300: #fefff6;
  --grey-200: #f1f2f6;
  --green-400: #138b80;
  --green-300: #2dca7a;
  --green-100: #dcf8c6;
  --grey-50:#EFF0F4;
  --grey-60:#1F2C34;
  --primary-font: "Roboto", sans-serif;
}
body{
    background-color: var(--primary-color);
    padding: 20px;
}

.app {
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 350px 1fr ;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}
aside{
    background-color: var(--grey-900);
    color: white;
}
aside header{ 
    background-color: var(--grey-900);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.profile img{
    width: 80px;
    border-radius: 50%;

}
.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}
aside li img {
    border-radius: 50%;
}
aside li {
    gap:10px;
}

.actions button svg {
    width: 20px;    
}
.actions button {
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color:var(--grey-900);
    color: white;
    transition: transform .2s;
}

.actions button:hover{
    background-color: var(--grey-700);
    transform:translateY(-2px) ;
}
.actions{
    display: flex;
    justify-content: end;   
}
.search{
    background-color: var(--grey-900);
    padding: 10px 10px;
    border-bottom: solid var(--grey-60) 1px;
    border-top: solid var(--grey-60) 1px ;
}

.search form input{
    background-color: var(--grey-60);
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: white;
}
.search input:focus {
    outline: 2px solid var(--grey-700);
}

/*ASIDE CHATS*/

.user-chat img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.user-chat:hover{
    background-color: var(--grey-600);
    border-radius: 10px;
    
}


.chats {
    background-color: var(--grey-900);
    padding: 10px;
}

.user-chat {
    display: flex;
    align-items: center;
    transition: .2s;
    padding: 7px;

}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-info h3 {
  font-size: 16px;
  margin: 0;
}

.chat-info p {
  font-size: 14px;
  margin: 0;
  color: #667781;
}


/*Messages panel*/

.chat-panel {
    display: flex;
    flex-direction: column;
}
.chat-header {
    background-color:var(--grey-50);
    border-bottom: 1px solid var(--grey-700);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;

}

.chat-header img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit:cover;
}

.chat-header p{
    color: var(--grey-700)
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-50);
    padding:13px;
    border-top: solid #9f9fa149;
    gap: 6px;
}

footer svg {
width: 100%;
height: 100%;
padding: 3px;
}


footer form {
    flex:1;    
    transition: .3s;
}

footer button{
    width: 35px;
    height: 35px;
}

footer form textarea{
    width: 100%;
    border-radius: 10px;
    border:none;
    padding: 0 10px;    
    padding-top: 10px;
}

footer .attach {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--grey-700);
    transition: .3s;
}

footer .attach:hover{
    color: var(--grey-800);
}    

footer .send {
    border: none;
    background-color: var(--green-400);
    color: white;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
    height:40px;
    width: 50px;
}

footer .send:hover{
    background-color: var(--green-300);
    transform: scale(0.9);
}

/*MENSAJES*/

.message {
  background-color: var(--grey-300);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.238);
  padding: 10px;
  width: 60%;
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
      overflow-y: auto;
    
}

.me {
    align-self: end;
    background-color:var(--green-100);
    padding: 10px;
}

.message .time {
    color: var(--grey-700);
    font-size: 14px;
    margin-top: 10px;
    text-align: end;
}


/*responsive design*/
@media (max-width:665px){
    aside{
        display: none;
        }
    .app{
       
        grid-template-columns: 1fr;

    }

}
